* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/BfzKLvg/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    font-family: 'Inter', sans-serif;
}

h3{
    color: #FFFFFF;
}

h3 span{
    color: #FFC700;
}

h1{
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', sans-serif;
}

p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: #FFFFFF;
    opacity: 0.6;
}

a{
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.btn-sec{
    color: #FFFFFF;
    opacity: 60%;
}

a:hover,
.btn-primary{
    text-decoration: none;
    color: black;
    background-color: #FFC700;
    border-radius: 20px;
    opacity: 1;
}